@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ff00d9;
    --secondary-color:#0040ff;
}
body {
    background-image: url(../img/baggrund.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 247vh;
    font-family: "Roboto+mono", Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


.logo {
    position: absolute;
    width: 350px;
    margin-left: 35rem;
    
}


h1 {
    text-align: center;
  
    color: var(--primary-color);
    font-size: 3rem;
}

p {
    margin: 50px 150px;
}

h2 {
    text-align: center;
    color: var(--primary-color);
    font-size: 2rem;
    margin: 15px 0;
}

.koeb {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0px 8px 800px var(--primary-color);
}

.vaelg {
    margin-bottom: 20px;
}

select, button {
    display: block;
    width: 70%;
    padding: 10px;
    margin: 10px 0 0 100px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    text-align: center;
    background-color: white;
    font-weight: bold;
}

label {
    display: block;
    margin: 10px 0;
    font-weight: bold;
    
}

button:hover{
    background-color: var(--primary-color);
    color: whitesmoke;

}

.sidste a{
    text-decoration: none;
}
.bekræft {
  
    width: 100%;
    background-color: white;
}

.bekræft p{
    font-size: 1.5rem;
   color: #0040ff;
   width: 100%;
  
   
   
}

#poster {
    width: 60%;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 140px;
}   

p#billettekst {
    text-align:start;
    margin-left:2px;
    margin-bottom: 2px;
}

.koeb {
    margin-top: 400px;
}

.koeb img {
    width: 100%;
}
form#billet-form {
    display: flex
;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
}

/*Navbarrens redigering*/
header .navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}


header .navbar ul li {
    position: relative;

}



header .navbar ul li a {
    text-decoration: none;
    padding: 40px;
    display: block;
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 1000;
 
}

header .navbar ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
   
    
}


header .navbar ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--secondary-color);
    display: none;
    z-index: 100;
}



header .navbar ul li ul li a{
    padding: 35px; 
    font-size: 30px;
    font-weight: 600;
    color: var(--primary-color);
}

header .navbar ul li ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
  
}


header .navbar ul li:hover > ul {
    display: block; /* Viser submenuen */

}


header .navbar ul li:focus-within > ul ,
header .navbar ul li:hover > ul {
    display: block;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

.footer {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--primary-color);
}

#logo {
    width: 20%;
    height: auto;
    margin-left: 15px;
}

#adresse {
    width: 30%;
    margin-bottom: -5px;

}


#insta {
    width: 100%;
    margin-left: -5px;
    margin-top: 25px;
}

