@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ff00d9;
    --secondary-color:#0040ff;
}
body {
    background-image: url(../img/landingp.png);
    background-size: cover;
    background-position: relative;
    background-repeat: no-repeat;
    background-color: black;
    height: 100vh;
    font-family: "Roboto+mono", Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    position: relative; /* Nødvendig for at 'absolute' elementer kan referere til denne container */
    height: 100vh; /* Eller en anden højde for header */
}

.logo {
    position: absolute;
    width: 20%;
    height: auto;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); 
}

.billede2 {
    text-align: center;
    margin-bottom: 2rem;
}

.billede2 img{
    width: 70%;
    height: auto;
    
}

form.nyhedsbrev {
    background-color: var(--primary-color);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px #000000;
    width: 100%;
 
}

form.nyhedsbrev h2 {
    text-align: center;
    font-size: 5rem;
    margin-bottom: 20px;
 
}

form.nyhedsbrev label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-align: center;
}

form.nyhedsbrev input {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input#email, input#fornavn {
    text-align: center;
}

.instagram {
    text-align: center;
    margin-bottom: 2rem;
}

.instagram img{
    width: 70%;
    height: auto;
    
}
h1 {
    text-align: center;
    margin-top: 800px;
    color: var(--primary-color);
    font-size: 5rem;
}

p {
    color: var(--primary-color);
    text-align: center;
    margin: 50px 100px;
}

h2 {
    text-align: center;
    color: var(--primary-color);
    font-size: 3rem;
    
}

/*Navbarrens redigering*/
header .navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}


header .navbar ul li {
    position: relative;

}



header .navbar ul li a {
    text-decoration: none;
    padding: 40px;
    display: block;
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 1000;
 
}

header .navbar ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
   
    
}


header .navbar ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--secondary-color);
    display: none;
    z-index: 100;
}



header .navbar ul li ul li a{
    padding: 35px; 
    font-size: 30px;
    font-weight: 600;
    color: var(--primary-color);
}

header .navbar ul li ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
  
}


header .navbar ul li:hover > ul {
    display: block; /* Viser submenuen */

}


header .navbar ul li:focus-within > ul ,
header .navbar ul li:hover > ul {
    display: block;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--primary-color);
}

#logo {
    width: 20%;
    height: auto;
    margin-left: 15px;
}

#adresse {
    width: 30%;
    margin-bottom: -5px;

}


#insta {
    width: 100%;
    margin-left: -5px;
   
}

