@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ff00d9;
    --secondary-color:#0040ff;
}

body {
    background-image: url(../img/baggrund.webp);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    min-height: 100vh;
    margin: 0;
    font-family: 'Roboto', "Open sans", sans-serif;
}

.logo {
    position: absolute;
    width: 300px;
    height: auto;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%); 
}


#information {
    color: var(--secondary-color);
}



.info a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 700;
}

h1 {
    text-align: center;
    margin-top: 350px;
    color: var(--primary-color);
    font-size: 4rem;
    font-family: 'Orbitron', "Open sans", "Roboto", sans-serif;
}


p {
   text-align: start;
   margin: 40px 90px;
   line-height: 2rem;
   font-size: 1.5rem;
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


h2 {
    text-align: center;
    color: var(--primary-color);
    font-size: 4rem;
    margin-bottom: 10px;
    font-family: 'Orbitron', "Open sans", "Roboto", sans-serif;
}

h3 {
    text-align: start;
    color: var(--primary-color);
    font-size: 2.5rem;
    margin-bottom: 10px;
    font-family: 'Orbitron', "Open sans", "Roboto", sans-serif;
}



.ikoner {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-template-rows: repeat(3, auto);
   align-items: center;
   gap: 55px;
   width: 50%;
   margin: 0 auto;
   margin-bottom: 200px;
   border-bottom: 2px solid var(--primary-color);
}

.ikoner img {
    width: 90%;
    height: auto;
    display: block;
    
}

.info img {
    width: 20%;
    height: auto;
   align-items: center;
   margin-bottom: 20px;
}

#ikon4 {
    width: 50%;
}

#lokationbillede {
    width: 14%;
}

article#person, #ticket, #priser, #lokation, #garderobe, #drikkevare {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

#barkort {
    width: 50%;
    margin: 30px 0;
}

/*Navbarrens redigering*/
header .navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}


header .navbar ul li {
    position: relative;

}



header .navbar ul li a {
    text-decoration: none;
    padding: 40px;
    display: block;
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 1000;
 
}

header .navbar ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
   
    
}


header .navbar ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--secondary-color);
    display: none;
    z-index: 100;
}



header .navbar ul li ul li a{
    margin: 20px -20px;
    font-size: 30px;
    font-weight: 600;
    color: var(--primary-color);
}

header .navbar ul li ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
  
}


header .navbar ul li:hover > ul {
    display: block; /* Viser submenuen */

}


header .navbar ul li:focus-within > ul ,
header .navbar ul li:hover > ul {
    display: block;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

.footer {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--primary-color);
}

#logo {
    width: 20%;
    height: auto;
    margin-left: 15px;
}

#adresse {
    width: 30%;
    margin-bottom: -5px;

}


#insta {
    width: 100%;
    margin-left: -5px;
    margin-top: 25px;
}

/*Navbarrens redigering*/
header .navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

header .navbar ul li {
    position: relative;

}



header .navbar ul li a {
    text-decoration: none;
    padding: 40px;
    display: block;
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 1000;
    font-family: 'Orbitron', "Open sans", "Roboto", sans-serif;
}

header .navbar ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
   
    
}


header .navbar ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--secondary-color);
    display: none;
    z-index: 100;
}



header .navbar ul li ul li a{
    margin: 20px -20px;
    font-size: 30px;
    font-weight: 600;
    color: var(--primary-color);
}

header .navbar ul li ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
  
}


header .navbar ul li:hover > ul {
    display: block; /* Viser submenuen */

}


header .navbar ul li:focus-within > ul ,
header .navbar ul li:hover > ul {
    display: block;
}

#menu-bar {
    display: none;
}

label[for="menu-bar"]  {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    border-top: 2px solid var(--primary-color);
}

#logo {
    width: 20%;
    height: auto;
    margin-left: 15px;
}

#adresse {
    width: 40%;
    margin-bottom: -5px;
    margin-left: -50px;

}


#insta {
    width: 100%;
    margin-left: -5px;
   
}


@media (max-width: 907px) {
    header .navbar ul {
        list-style-type: none;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 100%;
   
    }


 
    header .navbar ul li {
        position: relative;
    }

    header .navbar ul li a {
        text-decoration: none;
        display: block;
        color: var(--primary-color);
        font-weight: 1000;
        font-size: 1.7rem;
        white-space: nowrap;
        
      
    }

    .logo {
        position: absolute;
        width: 200px;
        height: auto;
        top: 12%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }

    h1 {
        text-align: center;
        margin-top: 250px;
        font-size: 3rem;
        
    }
    p {
        color: #000;
        text-align: start;
        font-size: 1.7rem;
        margin: 40px 40px 80px 60px;
        font-weight: 500;
    }
    
    
    
}

@media (max-width: 809px) {

    #information {
        color: var(--primary-color);
    }
   
    
    h1 {
        font-size: 3rem;
        margin: 300px 40px 20px 40px;
        text-align: center;
        
    }

    
    
    header {
        padding: 10px 20px 10px 10px;
        display: flex;
        justify-content: end;
      
        } 

    
                
        header .navbar {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #0040ff;
        width: 320px;
        position: absolute;
        top: 60px;
        left: 10;
        box-sizing: border-box;

        }
                
        label[for="menu-bar"] {
        display: block;
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;      
                
        }
                
        #menu-bar:checked ~ nav.navbar {
        display: flex;
       
       
        }
                
        .menubillede {
        width: 50px;

        }

        header .navbar ul {
            flex-direction: column;
            align-items: center;
            width: 100%;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            
        }

       
        header .navbar ul li  {
            position: relative;
            width: 100%;
            
        }

        header .navbar ul li a {
            font-size: 2rem;
            font-weight: 600;
            padding: 25px;
            text-align: center;
            display: block;
            box-sizing: border-box;
            
        }

     

        header .navbar ul li ul {
            position: static;
            display: none;
            width: 100%;
            background-color: var(--secondary-color);
            margin: 0;
            padding: 0;
        
        }
        

        header .navbar ul li a:hover {
            background:var(--secondary-color);
            color: var(--primary-color);
            text-align: start;
            width: 100%;
            
        }

        
        header .navbar ul li ul li a{
            text-align: left;
            background-color: var(--primary-color);
            color: var(--secondary-color);
            margin: 0;
        
            
          
        }

        main {
            margin: 20px 50px;
        }

        h2 {
            text-align: center;
            color: var(--primary-color);
            font-size: 3.5rem;
            margin-bottom: 10px;
            font-family: 'Orbitron', "Open sans", "Roboto", sans-serif;
        }

        h3 {
            text-align: center;
            color: var(--primary-color);
            font-size: 2.2rem;
            margin-bottom: 10px;
            font-family: 'Orbitron', "Open sans", "Roboto", sans-serif;
        }
        
        .ikoner {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, auto);
            align-items: center;
            gap: 55px;
            width: 50%;
            margin: 0 auto;
            margin-bottom: 150px;
            border: none;
           
        }
        
        header .navbar ul li a:active + ul,
        header .navbar ul li a:focus + ul {
            display: block; /* Viser dropdown på klik i mobil */
       
        }

        header .navbar ul li:hover > ul {
            display: none; /* Hover er slået fra i mobilvisning */
        }
                

        p {
            text-align: start;
            font-size: 1.5rem;
            margin: 25px 0px;
            font-weight: 500;
            line-break: auto;
        }
    }

    @media (max-width: 610px) {
   
        main {
            margin: 20px 55px;
        }

        p {
            text-align: start;
            font-size: 1.5rem;
            margin: 25px 0px;
            font-weight: 500;
            line-break: auto;
        }

        .ikoner {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(3, auto);
           
        }

        #ikon4 {
            width: 50%;
            margin-left: 40px;
        }

        #barkort {
            width: 96%;
            margin: 30px 0;
        }
        .footer {
            padding: 10px;
             }
                         
        #logo {
             display: none;
             }
                         
        #adresse {
             width: 40%;
             margin-top: -16px;
             margin-left: 10px;
             }
                         
                         
        #insta {
             width: 100%;
             }

        iframe {
                display: none;
            }
                  
            }

    
 @media (max-width: 478px) {
   
    main {
        margin: 20px 40px;
    }
    h1 {
        font-size: 2.7rem;
        margin-top: 250px;
    }

   
    p {
        font-size: 1.3rem;
        font-weight: 450;
       
    }
   
    iframe {
        display: none;
    }
                   

    }


    @media (max-width: 1002px) and (min-width: 810px) {

  
    h3 {
        text-align: center;
        color: var(--primary-color);
        font-size: 2.5rem;
        margin-bottom: 10px;
        font-family: 'Orbitron', "Open sans", "Roboto", sans-serif;
    }
        header .navbar ul {
            list-style-type: none;
            display: flex;
            flex-wrap: nowrap;
            flex-direction: row;
            justify-content: space-around;
           
        }

        p {
            
            text-align: start;
            font-size: 1.7rem;
            margin: 20px 60px;
        }

        header .navbar ul li a {
            text-decoration: none;
            padding: 40px 0px;
            display: block;
            color: var(--primary-color);
            font-size: 30px;
            font-weight: 1000;
            font-family: 'Orbitron', "Open sans", "Roboto", sans-serif;
        }

    }


    @media (min-width: 1003px) {
      
     
        p {
            font-size: 2rem;
            font-weight: 450;
            font-family: 'Roboto', "Open sans", sans-serif;
        }
    
    
        .logo {
            position: absolute;
            width: 300px;
            height: auto;
            top: 19%;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    
    }