@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-color: #ff00d9;
    --secondary-color:#0040ff;
}
body {
    background-image: url(../img/baggrund.webp);
    background-size: cover;
    background-repeat: no-repeat;
    height: 380vh;
    font-family: "Roboto+mono", Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.logo {
    position: absolute;
    width: 350px;
    margin-left: 35rem;
    
}
#program {
    color: var(--secondary-color);
}



p {
    text-decoration: none;
    text-align: start;
    margin-top: 350px;
    margin-left: 360px;
 
}

p a {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 600;
}

.ungskab {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;

}
.ungskab img {
    height: auto;
    width: 50%;
   
}

.spotify {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 50px;
   
}

.spotify iframe {
    width: 50%;
    height: 352;
    border-radius: 12px;
   
}

.spotify a{
    text-decoration: none;
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 50px;
}

.billet {
    text-decoration: none;
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    background-color: #0040ff;
    border: 2px solid var(--primary-color);
    width: 50%;
    height: auto;
    margin-left: 360px;
    
}

.billet h4{
    text-decoration: underline;
}

h5 {
    text-align: center;
    margin: 50px 310px;
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 600;
   
}


.konkurrence {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}
.konkurrence img {
    height: auto;
    width: 60%;
    border: 5px solid var(--primary-color);
}

.konkurrence a{
    
    color: var(--secondary-color);
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
}


/*Navbarrens redigering*/
header .navbar ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}


header .navbar ul li {
    position: relative;

}



header .navbar ul li a {
    text-decoration: none;
    padding: 40px;
    display: block;
    color: var(--primary-color);
    font-size: 30px;
    font-weight: 1000;
 
}

header .navbar ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
   
    
}


header .navbar ul li ul {
    position: absolute;
    top: 100%;
    left: 0;
    background: var(--secondary-color);
    display: none;
    z-index: 100;
}



header .navbar ul li ul li a{
    margin: 20px -20px;
    font-size: 30px;
    font-weight: 600;
    color: var(--primary-color);
}

header .navbar ul li ul li a:hover {
    background: var(--primary-color);
    color: var(--secondary-color);
  
}


header .navbar ul li:hover > ul {
    display: block; /* Viser submenuen */

}


header .navbar ul li:focus-within > ul ,
header .navbar ul li:hover > ul {
    display: block;
}

#menu-bar {
    display: none;
}

header label {
    font-size: 20px;
    color: #333;
    cursor: pointer;
    display: none;
}


.footer {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 2px solid var(--primary-color);
}

#logo {
    width: 20%;
    height: auto;
    margin-left: 15px;
}

#adresse {
    width: 30%;
    margin-bottom: -5px;

}


#insta {
    width: 100%;
    margin-left: -5px;
    margin-top: 25px;
}

